{% extends "dashboard_base.html" %}
{% block dashboard_content %}
<div class="row">
    <div class="text-center mt-4">
        <h1 class="h2">Events</h1>
        <p class="lead">
            {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            {% endif %}
        </p>
    </div>

    {% for event in events %}
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ event.title }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}